/* global */

body { margin: 20px 50px 200px 50px; }
a, a:hover { 
    color: #222222;
    text-decoration: underline dotted;
    cursor: pointer;
}

/* menu */

#sevenDayAverageMenu .button {
    font-size: 10px;
}

fieldset {
    overflow: hidden;
    float: left;
}    
button {
    cursor: pointer;
}

button, select, option {
    cursor: pointer;
}

strong {
    font-size: 18px;
}

.dataHref {
    color: blue;
    text-decoration: underline;
}

a:hover.dataHref {
    color: red;
    text-decoration: underline;
}

/* table stuff */
table {
    border-collapse:collapse;
}
th, td { 
    white-space: nowrap;
    text-align: center;
}

th.rowNum {
    background-color: white;
    border-bottom: 1px solid #E1E1E1;
    font-weight: normal;
}

th.colHeadsOne {
    text-align: center;
    border-left: 1px dotted #E1E1E1;
    border-right: 1px dotted #E1E1E1;
}

th.colHeadsOne {
    border-left: 1px dotted #E1E1E1;
    border-right: 1px solid #E1E1E1;
}

th.colHeadsCases {
    border-left: 1px dotted #E1E1E1;
}

th.colHeadsDeaths {
    border-right: 1px dotted #E1E1E1;
    border-left: 1px solid #E1E1E1 !important;
}

td.colCellCases {
    border-left: 1px dotted #E1E1E1;
}

td.colCellPopulation {
    border-right: 1px dotted #E1E1E1;
    border-left: 1px dotted #E1E1E1;
}

td.colCellGovernmentBranch {
    border-right: 1px solid #E1E1E1;
}

th.stateName {
    text-align:left;
    background-color: white;
    border-right: white 1px solid;
    padding-left: 5px;
    border-bottom: 1px solid rgba(34,36,38,.1);
}

i.hidden {
    display: none;
}

td.governmentBranch {
    background-color: white;
    border-left: white 1px solid;
}

.redGovernor, .redLegislature {
    color: #ff0000;
}

.blueGovernor, .blueLegislature {
    color: #0066ff;
}

.grayGovernor, .grayLegislature {
    color: #bfbfbf;
}

.ui.label {
    background-color: #f9fafb !important;
}

div.populationLabel, div.populationLabel a {
    font-style: normal;
    font-weight: normal;
    font-size: 0.85em;
}

.showCell { display: table-cell; }
.hideCell { display: none; }

.rowRepublicanControl { background-color: #ff8080;}
.rowDemocratControl { background-color: #80b3ff;}
.rowSplitControl { background-color: #bfbfbf;}
.rowUnknownControl { background-color: none;}

button.govt.active.democrat {
    color: white;
    background-color: #0066ff !important;
}

button.govt.active.republican {
    color: white;
    background-color: #ff0000 !important;
}

tr.showRow {

}

tr.hideRow {
    display: none;
}